/* ==== CSS Reset ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==== Styling ==== */

.hero-section, .footer {
  background-color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  line-height: 1;
}

.hero-secondary-text, .header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.cta, .btn-cta {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
}

.feature > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

blockquote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

/* ==== Layouting ==== */

.container {
  width: 90%;
  max-width: 115ch;
  margin: 0 auto;
}

/* == Navbar == */

.navbar {
  padding: 1rem 0;
}

.navbar > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: baseline;
}

.header-logo {
  margin-right: auto;
}

/* == Hero == */

.hero {
  display: flex;
  padding: 10rem 0 13rem;
  align-items: center;
}

.hero-main-text {
  margin-bottom: 1rem;
}

.hero > img {
  width: 50%;
  border-radius: 1rem;
}

.btn-cta {
  display: inline-block;
  padding: 0.6em 2em;
  border-radius: 0.5em;
  margin-top: 1rem;
}

/* == Feature == */

.feature {
  padding: 3rem 0 6rem;
}

.feature > h2 {
  text-align: center;
  margin: 0 0 3rem;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.boxes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  flex-basis: 18ch;
}

.boxes > div > img {
  width: 100%;
  border-radius: 1rem;
}

.boxes > div > p {
  text-align: center;
}

/* == Quote == */

.quote {
  /* margin: 10rem; */
}