/* ==== CSS Reset ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* ==== Styling ==== */

.hero-section, .footer {
  background-color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-secondary-text, .header-link {
  font-size: 18px;
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.cta, .btn-cta {
  background-color: #3882f6;
  color: white;
}

.feature > h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

blockquote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
}

/* ==== Layouting ==== */

.container {
  width: 90%;
  max-width: 115ch;
  margin: 0 auto;
}

.navbar {
  padding: 1rem 0;
}

.navbar > ul {
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  align-items: baseline;
}

.header-logo {
  margin-right: auto;
}